*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-note{
    height: 90vh;
    /* width: 100vw; */
    border : 1px solid black;
    margin : 0;
    padding : 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.open-note .note-div{
    height: 90%;
    width: 60%;
    border: 2px solid black;
}

.open-note .date{
    height: 8vh;
    width: 100%;
    padding: 10px;
    justify-content: start;
    align-items: center;
    border: 2px solid black;
}

.open-note .heading{
    height: 8vh;
    padding: 10px;
    width: 100%;
    border: 1px solid black;
}

.open-note .body{
    height: 58vh;
    width: 100%;
    border : 1px solid black;
    padding: 10px;
}

.open-note .footer-div{
    margin: 0;
    height: 6vh;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.open-note textarea{
    height: 100%;
    width: 100%;
    resize: none;
    
}

.open-note button{
    height: 100%;
    width: 30%;
}

