.btn-div button{
    height: 80%;
    width: 20%;
    border-radius: 20px;
    background-color: white;
}

.btn-div{
    height: 10%;
    padding: 2px;
}

.btn-div button:hover{
    cursor: pointer;
}